.card{
  width: 28em;
}

.card.d{
  background-color: rgba(70, 67, 67, 0.603);
}

.card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

.card-title{
  text-overflow: ellipsis;
}
